PYTHONPATH=.
# Default
LLM_MODEL_NAME="gemini/gemini-3-flash-preview"
EMBEDDING_MODEL_NAME="openai/qwen3-embedding-0.6b-large"

# Embedding / LLM API Global Defaults
EMBEDDING_API_BASE=https://llm.example.com
EMBEDDING_API_KEY=sk-xxxxxx


# OpenAI / General LLM Config (often same as Embedding in this repo)
OPENAI_API_KEY=sk-xxxxxx
OPENAI_BASE_URL=https://llm.example.com


# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# Mineru API (PDF Parsing)
MINERU_API_KEY=sk-xxxxxx
# MINERU_BASE_URL=https://api.minerU.opendatalab.com/v1 # Default
MINERU_BASE_URL=http://localhost:28004